<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="container w-container"><a href="#" class="brand w-nav-brand"></a>
    <nav role="navigation" class="w-nav-menu"><img src="assets/images/topmenu.png" width="682" srcset="assets/images/topmenu-p-500.png 500w, assets/images/topmenu-p-800.png 800w, assets/images/topmenu-p-1080.png 1080w, assets/images/topmenu.png 1364w" sizes="(max-width: 991px) 100vw, 682px" alt=""></nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="left-menu-wrapper">
    <a [routerLink]="[ '/home' ]" class="left-menu-item w-inline-block w--current">
      <div>Přehled</div>
    </a>
    <a
      [routerLink]="[ '/transactions' ]"
      [queryParams]="{ filter: 1 }"
      queryParamsHandling="merge"
      class="left-menu-item w-inline-block">
      <div>Transakce</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Spoření</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Srovnávání</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Reporty</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Rozpočty</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Nastavení</div>
    </a>
  </div>
  <div class="right-content-wrapper">
    <div class="content-wrapper-main">
      <div class="header-wrapper w-clearfix">
        <h1>Přehled</h1><img src="assets/images/MOJEINFO.png" width="219" alt="" class="image-2"></div>
      <div class="payments-mofo-wrapper overview">
        <h1>Moje účty</h1>
      </div>
      <div class="accounts-wrapper w-clearfix">
        <div class="div-block w-clearfix __account" *ngFor="let account of (accounts$ | async); let odd = odd" [class.right]="!!odd">
          <div class="account">Účet</div>
          <div class="text-block-3">{{ account.number }}/0300</div>
          <div class="text-block-3 moneyleft">{{ (balances$ | async)[account.number] | number: '1.2-2' }} CZK</div>
          <div class="text-block-2">Aktuální zůstatek</div>
        </div>
        <!-- <div class="div-block right w-clearfix">
          <div class="account">Účet</div>
          <div class="text-block-3">20912803823080/0300</div>
          <div class="text-block-3 moneyleft">{{ 165598.50 | number: '1.2-2' }} CZK</div>
          <div class="text-block-2">Aktuální zůstatek</div>
        </div> -->
      </div>
      <div class="payments-mofo-wrapper overview transparent">
        <h1>Výdaje v kategorii</h1>
      </div>
      <div class="payments-mofo-wrapper overview filters">
        <div class="columns w-row">
          <div class="column w-col w-col-6">
            <div class="w-form __form">
              <select [formControl]="control" id="field-2" name="field-2" data-name="Field 2" class="select-field w-select __select">

                <option value="0">V posledních 3 měsících</option>

                <option value="1">Tento měsíc</option>

                <option value="2">Za minulý měsíc</option>

                <option value="3">V posledních 6 měsících</option>

              </select>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="column-2 w-clearfix w-col w-col-6">
            <h1 class="totalamount">-{{ (graphData$ | async)?.total | number: '1.2-2' }} CZK</h1>
            <div class="text-block-2">Celkové výdaje</div>
          </div>
        </div>
      </div>
      <div class="__graph-wrap" *ngIf="(graphData$ | async) as graphData">

        <canvas
          baseChart
          [chartType]="'pie'"
          [datasets]="graphData.graph?.dataset"
          [labels]="graphData.graph?.labels"
          [options]="chartOptions"
          [legend]="true"
          [plugins]="chartPlugins"
          (chartClick)="onChartClick($event)">
        </canvas>

        <!-- <div
          class="__row"
          *ngFor="let item of (graphData$ | async)?.items; let first = first; trackBy: trackBy"
          [class.__first]="first">

          <div class="__name">
            {{ item.name }}
          </div>

          <div class="__graph">

            <div
              class="__graph-bar"
              [style.width.%]="(item.percentage * 2) < 1 ? 0.5 : (item.percentage * 2) > 50 ? 100 : (item.percentage * 2)"
              [style.background]="graphColorMap[item.name]">
            </div>

            <div class="__graph-text" [style.left.%]="(item.percentage * 2) < 1 ? 0.5 : (item.percentage * 2) > 50 ? 100 : (item.percentage * 2)">{{ item.amount | number: '1.2-2' }} CZK ({{ item.percentage | number: '1.2-2' }}%)</div>

          </div>

        </div> -->

      <!-- ACTUAL ANGULAR ENDS HERE -->
      </div>
      <div class="w-layout-grid grid-3">
        <a
          id="w-node-4f203f0a40ec-c31b0983"
          [routerLink]="[ '/transactions' ]"
          [queryParams]="{ lookup: 'cash', filter: 1 }"
          queryParamsHandling="merge"
          class="categpry a w-inline-block">
          <h1 class="vydaej">Hotovostní výdaje</h1>
        </a>
        <a
          id="w-node-fb10c53c17bc-c31b0983"
          [routerLink]="[ '/transactions' ]"
          [queryParams]="{ lookup: 'groceries', filter: 1 }"
          queryParamsHandling="merge"
          class="categpry b w-inline-block">
          <h1 class="vydaej">Výdaje za<br />jídlo</h1>
        </a>
        <a
          id="w-node-a90d9f614b61-c31b0983"
          [routerLink]="[ '/transactions' ]"
          [queryParams]="{ lookup: 'services', filter: 1 }"
          queryParamsHandling="merge"
          class="categpry w-inline-block">
          <h1 class="vydaej">Výdaje za služby</h1>
        </a>
      </div>
    </div>
  </div>
</div>
