<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="container w-container"><a href="#" class="brand w-nav-brand"></a>
    <nav role="navigation" class="w-nav-menu"><img src="assets/images/topmenu.png" width="682" srcset="assets/images/topmenu-p-500.png 500w, assets/images/topmenu-p-800.png 800w, assets/images/topmenu-p-1080.png 1080w, assets/images/topmenu.png 1364w" sizes="(max-width: 991px) 100vw, 682px" alt=""></nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="left-menu-wrapper">
    <a [routerLink]="[ '/home' ]" class="left-menu-item w-inline-block w--current">
      <div>Přehled</div>
    </a>
    <a [routerLink]="[ '/transactions' ]" class="left-menu-item w-inline-block">
      <div>Transakce</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Spoření</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Srovnávání</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Reporty</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Rozpočty</div>
    </a>
    <a href="#" class="left-menu-item w-inline-block">
      <div>Nastavení</div>
    </a>
  </div>
  <div class="right-content-wrapper">
    <div class="content-wrapper-main">
      <div class="header-wrapper w-clearfix">
        <h1>Přehled</h1><img src="assets/images/MOJEINFO.png" width="219" alt="" class="image-2"></div>
      <div class="payments-mofo-wrapper overview">
        <h1>Moje účty</h1>
      </div>
      <div class="accounts-wrapper w-clearfix">
        <div class="div-block w-clearfix">
          <div class="account">Účet</div>
          <div class="text-block-3">188308794/0300</div>
          <div class="text-block-3 moneyleft">0.00 CZK</div>
          <div class="text-block-2">Aktuální zůstatek</div>
        </div>
        <div class="div-block right w-clearfix">
          <div class="account">Účet</div>
          <div class="text-block-3">188308795/0300</div>
          <div class="text-block-3 moneyleft">200,000.00 CZK</div>
          <div class="text-block-2">Aktuální zůstatek</div>
        </div>
      </div>
      <div class="payments-mofo-wrapper overview transparent">
        <h1>Výdaje v kategorii</h1>
      </div>
      <div class="payments-mofo-wrapper overview filters">
        <div class="columns w-row">
          <div class="column w-col w-col-6">
            <div class="w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="form-2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field w-select"><option value="">V posledních 3 měsících</option><option value="Second">Tento měsíc</option><option value="First">Za minulý měsíc</option><option value="Third">V posledních 6 měšsících</option></select></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="column-2 w-clearfix w-col w-col-6">
            <h1 class="totalamount">-392,142.82 CZK</h1>
            <div class="text-block-2">Celkové výdaje</div>
          </div>
        </div>
      </div>
      <div class="graf-wrapper"><img src="assets/images/grafy.png" srcset="assets/images/grafy.png 500w, assets/images/grafy.png 649w" sizes="(max-width: 649px) 100vw, 649px" alt=""></div>
      <div class="w-layout-grid grid-3">
        <a id="w-node-4f203f0a40ec-c31b0983" href="#" class="categpry a w-inline-block">
          <h1 class="vydaej">Nezařazené výdaje</h1>
        </a>
        <a id="w-node-fb10c53c17bc-c31b0983" href="#" class="categpry b w-inline-block">
          <h1 class="vydaej">Výdaje za jídlo</h1>
        </a>
        <a id="w-node-a90d9f614b61-c31b0983" href="#" class="categpry w-inline-block">
          <h1 class="vydaej">Výdaje za bydlení</h1>
        </a>
      </div>
    </div>
  </div>
</div>
